@model Cot.Entities.Material
@{
	ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<div><a href="javascript:$('form').submit();">保存</a></div>
@using (Html.BeginForm())
{
	@Html.HiddenFor(_ => _.Id)
	<table>
		<tr>
			<td>@Html.LabelFor(_ => _.Code)</td>
			<td>@Html.TextBoxFor(_ => _.Code)</td>
			<td>@Html.LabelFor(_ => _.Name)</td>
			<td>@Html.TextBoxFor(_ => _.Name)</td>
			<td>@Html.LabelFor(_ => _.Width)</td>
			<td>@Html.TextBoxFor(_ => _.Width)</td>
			<td>@Html.LabelFor(_ => _.Length)</td>
			<td>@Html.TextBoxFor(_ => _.Length)</td>
		</tr>
		<tr>
			<td>@Html.LabelFor(_ => _.Unit)</td>
			<td>@Html.TextBoxFor(_ => _.Unit)</td>
			<td>@Html.LabelFor(_ => _.Count)</td>
			<td>@Html.TextBoxFor(_ => _.Count)</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
}
