@using Cot.Entities
@model Po
@{
	ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<div>
	<a href="javascript:$('form').submit();">保存</a>
</div>
@using (Html.BeginForm())
{
	<input type="hidden" value="@Model.Id" name="po.Id"/>
	<table>
		<tr>
			<td>@Html.LabelFor(_ => _.ProductionLossRate)</td>
			<td>
				<input type="text" value="@Model.ProductionLossRate" name="po.ProductionLossRate"/></td>
			<td>@Html.LabelFor(_ => _.FixedLossQuantity)</td>
			<td>
				<input type="text" value="@Model.FixedLossQuantity" name="po.FixedLossQuantity"/></td>
			<td>@Html.LabelFor(_ => _.Skip)</td>
			<td>
				<input type="text" value="@Model.Skip" name="po.Skip"/></td>
			<td>@Html.LabelFor(_ => _.Cavity)</td>
			<td>
				<input type="text" value="@Model.Cavity" name="po.Cavity"/></td>
		</tr>
		<tr>
			<td>@Html.LabelFor(_ => _.OrderQuantity)</td>
			<td>
				<input type="text" value="@Model.OrderQuantity" name="po.OrderQuantity"/></td>
			<td>@Html.LabelFor(_ => _.WorkQuantity)</td>
			<td>
				<input type="text" value="@Model.WorkQuantity" name="po.WorkQuantity"/></td>
		</tr>
	</table>
}
<table>
	<thead>
		<tr>
			@foreach (var item in typeof(PoItem).GetProperties().Where(_ => _.Name != "Id" && _.Name != "PoId"))
   {
				<th>@item.Name</th>
   }
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
  {
			<tr>
				@foreach (var pro in item.GetType().GetProperties().Where(_ => _.Name != "Id" && _.Name != "PoId"))
	{
					<td>@pro.GetValue(item, null)</td>
	}
			</tr>
  }
	</tbody>
</table>
