@using System.ComponentModel
@using System.Reflection
@using Cot.Entities
@model Po
@{
	ViewBag.Title = "Edit";
}
<div class="toolbar">
	<a href="/po">返回列表</a>
	<a href="javascript:$('form').submit();">保存</a>
</div>
@using (Html.BeginForm())
{
	<input type="hidden" value="@Model.Id" name="po.Id"/>
	<table class="formview">
		@{ var i = 0; }
		@foreach (var pro in Model.GetType().GetProperties())
  {
	  var attrs = pro.GetCustomAttributes(typeof(DisplayNameAttribute), false);
	  if (attrs.Any())
	  {
		  var attr = attrs.First() as DisplayNameAttribute;
		  if (attr != null)
		  {
			  if (i++ % 4 == 0)
			  {
			@:<tr>
}
					<td class="caption">
						<label>@attr.DisplayName</label></td>
					<td>
						<input type="text" value="@pro.GetValue(Model, null)" name="po.@pro.Name"/></td>
			  if (i % 4 == 0)
			  {
						@:</tr>
																	}
		  }
	  }
  }
	</table>
}
<table class="gridview">
	<thead>
		<tr>
			@{ var pros = new List<PropertyInfo>();}
			@foreach (var item in typeof(PoItem).GetProperties())
   {
	   var attrs = item.GetCustomAttributes(typeof(DisplayNameAttribute), false);
	   if (attrs.Any())
	   {
		   var attr = attrs.First() as DisplayNameAttribute;
		   if (attr != null)
		   {
			   pros.Add(item);
				<th>@attr.DisplayName</th>
		   }
	   }

   }
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
  {
			<tr>
				@foreach (var pro in pros)
	{
					<td>@pro.GetValue(item, null)</td>
	}
			</tr>
  }
	</tbody>
</table>
